body,
html {
    overflow-x: hidden !important;
    font-family: 'NanumSquare';
    font-size: 1vw;
}

.pattern {
    background: {
        image: url("/img/pattern.png");
        repeat: no-repeat;
        position: center;
    }
}

.bg-chase {
    background-color: #352955;
    opacity: 98%
}

.bg-section3 {
    background: #3B3962;
    background-image: url("/img/Pattern2.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.bg-section4 {
    background-image: url("/img/Pattern3.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.bg-top {
    background-image: url("/img/topBG1.svg");
    background-repeat: no-repeat;
    background-position: -30vw, 130vw;
    z-index: 0;
}

.text-orange,
.nav-link:hover,
.nav-link:focus,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #ff7838;
}

.font-ns {
    font-family: 'NanumSquare';
}

//화면 넓이가 768px 이상일때 적용되는 스타일.
@media (min-width: 768px) {


    /*gototop btn:s*/
    .c-go-top {
        /* background: none repeat scroll 0 0 padding-box #ffffff; */
        /* border: 1px solid #1099dd; */
        background: linear-gradient(229deg, rgba(255, 0, 165, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(84deg, rgba(163, 0, 150, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(106, 45, 255), rgba(0, 0, 255, 0) 70.71%);
        bottom: 1vw;
        border-radius: 0.2vw;
        color: #333333;
        display: none;
        font-size: 0.7vw;
        opacity: 1;
        padding: 0.5vw 0.8vw;
        position: fixed;
        right: 2%;
        text-decoration: none;
        z-index: 999;
        color: #ffffff !important;
    }

    .circle_bg {
        filter: drop-shadow(830px 10px 296px #000000);
        border-radius: 50%;
        width: 406px;
        height: 550px;
        background-color: #352955;
        position: absolute;
    }

    .circle_base {
        filter: blur(2vw);
        z-index: 0;
        top: -26vw;
        left: 34vw;

        &_white {
            background: {
                image: url("/img/white_circle.svg");
                repeat: no-repeat;
                position: center;
            }

            // height: 50vw;
        }
    }

    .text-md-center {
        text-align: center;
    }

    .chase-text {
        text-align: left;
    }


    .nav-link {
        font-size: 1vw;
    }

    .header-logo {
        width: 7.5vw;
    }

    .m-1100px {
        max-width: 1110px;
    }

    .px-21vw {
        padding-left: 21vw !important;
        padding-right: 21vw !important;
    }

    .px-20vw {
        padding-left: 20vw !important;
        padding-right: 20vw !important;
    }

    .mx-21vw {
        margin: 0 21vw !important;
    }

    .ps-21vw {
        padding-left: 21vw !important;
    }

    .ms-21vw {
        margin-left: 21vw !important;
    }

    .pe-7vw {
        padding-right: 7vw !important;
    }

    .me-7vw {
        margin-right: 7vw !important;
    }

    .mt-10vw {
        margin-top: 10vw;
    }

    .fs-10vw {
        font-size: 10vw;
    }

    .fs-1vw {
        font-size: 1vw;
    }

    .mt--2vw {
        margin-top: -2vw;
    }

    .mt--1vw {
        margin-top: -1vw;
    }

    .run_img {
        width: 23vw;
    }

}

.wp_btn {
    background: linear-gradient(212deg, #562C2C, #4C1586);
    border: 4px solid #564688;
    width: 15vw;
    font-size: 1.2vw;
    margin-top: 3vw;
    padding: 0.3vw 0 0.2vw 0;
}

.wp_btn:hover,
.wp_btn:focus {
    border: 4px solid rgba(245, 111, 33, 0.6);
    box-shadow: 0 0.5em 0.5em -0.4em #2e0b3b;
    -webkit-animation: dra 1.5s forwards;
    animation: dra 1.5s forwards;}

@keyframes dra {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(-1rem);
    }
}


.model_img {
    width: 60%;
    top: -9vw;
    left: 32vw;
}

.border-orange {
    border: 5px solid #FF8543 !important;
}

.text-purple {
    color: #DDC1FCE6;
}

.second-title {
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_bg {
    background-color: #1D0C30;
    border-radius: 4vw 4vw 100% 100%;
    padding: 3vw;
    width: 100%
}

.video_holder {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    border-radius: 100%;
    transform: translateZ(0);
    width: 10vw;
    height: 10vw;
}

.swiper-slide{
    border: 2px solid #F34521;
    border-radius: 2vw;
    background-color: #18171A;
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    -ms-transform: scale(1.5);
    /* IE 9 */
    transform: scale(1.1);
}

// .swiper-slide:hover {
//     border: 2px solid #4f4f4f5f;
//     opacity: .6;
// }

.text-box{
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02vw;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
    padding: 0.34vw 0;
}

.bg-wave {
    background: no-repeat url("/img/wave.svg");
}

.cursor-pointer {
    cursor: pointer;
}

.text-lightyellow {
    color: #E2C395
}

.text-paleorange {
    color: rgba(255, 185, 100, 0.9);
    line-height: 2;
    font-size: 1.2vw;
}

.text-whiteecho {
    color: rgba(232, 232, 232, 0.5882352941);
}

.text-mauve {
    color: rgba(210, 187, 255, 1);
}

.text-purple {
    color: rgba(110, 85, 162, 0.9);
}

.text-jinbora {
    color: rgba(110, 85, 162, .9);
}

.text-transition {
    width: 24vw;
    transform: rotate(-90deg);
}

.border-orange-bottom {
    border-bottom: 0.15vw solid #EC8534;
}

.pulse-button {
    position: absolute;
    display: grid;
    place-items: center;
    width: 4vw;
    height: 4vw;
    background: linear-gradient(180deg, rgba(45, 179, 240, 1) 28%, rgba(27, 114, 226, 1) 74%);
    border-radius: 50%;
    box-shadow: 0px 2px 20px #06c;
    cursor: pointer;
}

.pulse-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #06c;
    border-radius: 50%;
    z-index: 1;
    animation: animation 2s infinite;
}

@keyframes animation {
    0% {
        transform: scale(1);
        opacity: .9;
        z-index: 1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
        z-index: 1;
    }
}

.bg-dots {
    background: {
        image: url("/img/dots.svg");
        repeat: no-repeat;
        position: center;
    }
}

.bg-darkblue {
    background-color: #0C0B1D;
}

.bg-run {
    background: {
        image: url("/img/bg_run.svg");
        repeat: no-repeat;
        position: center;
    }
}

.w-55vw {
    width: 55vw;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    @extend .text-orange;
}

.nav-link {
    color: rgba(255, 120, 56, 0.7);

}

.nav-link:hover,
.nav-link:focus {
    @extend .text-orange;
}

//화면 넓이가 768px 이하일때 적용되는 스타일
@media (max-width: 768px) {
    li {
        line-height: 6vw;
    }

    .cirle_base {
        display: none;
    }

    .chase-text {
        text-align: center;
        font-size: 5vw;
    }

    .model_img {
        width: 82vw;
        top: 5vw;
        left: 19vw;
    }

    .header_container {
        display: none;
    }

    .wp_btn {
        background: linear-gradient(212deg, #562C2C, #4C1586);
        border: 3px solid #564688;
        width: 15vw;
        font-size: 1.2vw;
        margin-top: 3vw;
        padding: 0.5vw 0 0.2vw 0;
    }

    .section_title {
        font-size: 5.5vw;
        margin-top: 13vw !important;
    }

    .circle_base_white {
        margin-top: 13vw;
    }

    .c-go-top {
        /* background: none repeat scroll 0 0 padding-box #ffffff; */
        /* border: 1px solid #1099dd; */
        background: linear-gradient(229deg, rgba(255, 0, 165, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(84deg, rgba(163, 0, 150, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(343deg, rgb(106, 45, 255), rgba(0, 0, 255, 0) 70.71%);
        bottom: 7vw;
        border-radius: 0.3vw;
        color: #333333;
        display: none;
        font-size: 1vw;
        opacity: 1;
        padding: 1.6vw 2vw;
        position: fixed;
        right: 7%;
        text-decoration: none;
        z-index: 999;
        color: #ffffff !important;
    }


}

.text-roadmap {
    font-size: 1.3vw;
    font-weight: 600
}

.rotate {
    animation: rotate ease-in 3s infinite !important
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}



.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
    color: #fff;
    outline: 0;
    text-decoration: none;
    background-color: #ef00ff;
    transition: 0.5s;}
